@import "mixins";
@import "variables";
// Sass mixins libraries
@import "bourbon/bourbon";
@import "neat/neat";
// Base styles -- normalizes styles across browsers.
// Alter border-sizing styles to prevent issues in P2P HTML stories
@import "normalize";
@import "fonts";

body {
	color: $offblack;
	font-size: 14px; // body-level font size for "em"-scaled designs
}
h1 {
	font-family: $montserrat;
}
p,a {
	font-family: $lato;
}
a {
	color: $goldenrod;
	text-decoration: none;
}
.container {
	margin-top: 50px; // Pushes below topnav
}
.calViz {
	max-width: 500px;
	margin: 0 auto;
	padding: 1em;
	// overflow: scroll;
	svg {
		margin: 0 auto;
		width: 100%;
	}
	&__day {
		fill: #cecece;
		stroke: #fff;
		stroke-width: 2px;
		&--trip {
			fill: #dd0000;
		}
	}
	&__label {
		fill: #888888;
	}
}


.tooltip {
	position: absolute;
	padding: .5em;
	border-radius: 50px 50px 50px 0;
	color: white;
	background-color: #DD0000;
	font-family: $lato;
	text-transform: uppercase;
	p {
		margin: 0;
	}
	&__text {

	}
}
/* Leaderboard */
// #leaderboard {
// 	width: 728px;
// 	height: 90px;
// 	background-color: #222222;
// 	margin: 10px auto;
// 	text-align: center;
// 	@media (max-width: 730px){
// 		display: none;
// 	}
// }