@import "mixins";
@import "variables";
// Sass mixins libraries
@import "bourbon/bourbon";
@import "neat/neat";
// Base styles -- normalizes styles across browsers.
// Alter border-sizing styles to prevent issues in P2P HTML stories
@import "normalize";
@import "fonts";

body {
	color: $offblack;
	font-size: 14px; // body-level font size for "em"-scaled designs
	@media (min-width: 500px) {
		font-size: 16px;
	}
	@media (min-width: 720px) {
		font-size: 18px;
	}
}
h1 {
	font-family: $montserrat;
	text-align: center;
	margin-bottom: 0;
}
p,a {
	font-family: $lato;
}
a {
	color: $goldenrod;
	text-decoration: none;
}
.container {
	margin-top: 70px; // Pushes below topnav
	position: relative;
}
.calViz {
	height: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding: 1em;
	// overflow: scroll;
	i {
		font-size: 1.5em;
		margin-right: .5em;
		cursor: pointer;
		&:hover {
			color: #dd0000;
		}
	}
	svg {
	}
	&__day {
		fill: #cecece;
		stroke: #ffffff;
		stroke-width: 2px;
		&--trip {
			fill: #dd0000;
			cursor: pointer;
			&--dbl {
				fill: #7F1815;
			}
		}
	}
	&__label {
		fill: #888888;
		font-size: .5em;
		font-family: $montserrat;
		font-weight: bold;
	}
	p {
		&.source {
		}
	}
}

.tooltipAnchor {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	color: white;
	background-color: rgba(#DD0000, .9);
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px 2px 0 2px;
	border-radius: 20px 20px 0 0;
	font-family: $lato;
	text-align: center;
	text-transform: uppercase;
	@media (min-width: 700px) {
		max-width: 700px;
		left: 50%;
		margin-left: -350px;
	}

}
.tooltip {
	position: relative;
	top: 0;
	left: 0;
	margin: 1em;
	&__header {
		font-size: 1.2em;
		font-weight: bold;
		margin: 0;
	}
	&__text {
		max-width: 500px;
		margin: 0 auto;
		&--date {
			margin-top: 1em;
		}
		span {
			font-weight: bold;
		}
	}
	i {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 2em;
		cursor: pointer;
		color: #222222;
		&:hover {
			color: #ffffff;
		}
	}
}

footer {
	padding: 1em;
	background-color: #222222;
	text-align: center;
	p {
		color: white;
		&.label {
			margin: 0;
			font-weight: bold;
		}
		&.name {
			margin-top: .3em;
		}
	}
}
/* Leaderboard */
#leaderboard {
	width: 728px;
	height: 90px;
	background-color: #222222;
	margin: 10px auto;
	text-align: center;
	@media (max-width: 730px){
		display: none;
	}
}